body{
    background-color:rgb(131, 131, 131);
}

.resume{
    width:  400px;
    height: 500px;
    margin: 0 auto;
    background-color:rgb(229, 229, 228);
    margin-bottom: 70px;
    background-image: url("assets/Resume-background\(2.0\).svg");
    box-shadow: 2px 5px 15px 0px #17161694;
}


.icon-container{
    display:grid;
    position: relative;
    left: 115px;
    top: 260px;
  }

  h1{

      font-size: 12px;  
      margin-bottom: 0px;
      font-family: 'Open Sans', sans-serif;
  }

  h2{

      font-size: 10px;      
      margin-bottom: 0px;
      padding-top: 0px;
      font-family: 'Open Sans', sans-serif;
  }

  h3{

    font-size: 7px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
}

h4{

    font-size: 6px;
    margin-bottom: 0px;
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
}

.name {
    position: relative;
     left: 55px; 
    bottom: 400px;
}

.contact {
    position: relative;
    left: 55px;
    bottom: 350px;

}

.info {
    position: relative;
    left: 55px;
    bottom: 350px;
}

.education {
    position: relative;
    left: 185px;
    bottom: 575px;
}

.info-2 {
    position: relative;
    bottom: 575px;
    left: 185px;
}

.work {
    position: relative;
    bottom: 525px;
    left: 185px;
}

.job {
    position: relative;
    bottom: 520px;
    left: 185px;
}

.info-3 {
    position: relative;
    bottom: 505px;
    left: 185px;
}

.job-2 {
    position: relative;
    bottom: 475px;
    left: 185px;
}

.info-4 {
    position: relative;
    bottom: 460px;
    left: 185px;
}

.skills {
    position: relative;
    bottom: 875px;
    left: 350px;
}

.info-5 {
    position: relative;
    bottom: 860px;
    left: 350px;
}

.volunteer {
    position: relative;
    bottom: 800px;
    left: 335px;
}

.info-6 {
    position: relative;
    bottom: 790px;
    left: 335px;
}